.homeLoader{
    width: 100%;
    height: 250vh;
    position: fixed;
    z-index: 5;
    background-color: var(--bg-color);
}

.homeLoaderTitle{
    margin-top: 30pc;
    text-align: center;
}

.loaderTitle{
    color: var(--primary-color);
    width: 10pc;
    text-align: center;
}

.loader{
    margin-top: 30vh;
    width: 4pc;
    height: 4pc;
    border-radius: 50%;
    border: var(--primary-color) solid 5px;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
    margin-left: 2.5pc;
}

@keyframes spin{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 90%;
    padding-left: 8%;
    padding-right: 2%;
    display: flex;
    top: 0;
    position: absolute;
    z-index: 4;
}


input{
    all: unset;
    background-color: var(--bg-color);
    padding: 1px;
    color: black;
}

.mainIcon{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 5px;
}

header form{
    width: 100%;
    display: flex;
}

.search{
    width: 75%;
    margin-left: 12%;
    margin-top: 15px;
    height: 30px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.noDecoration{
    text-decoration: none;
    color: var(--secondary-color)
}

.searchIcon{
    margin-top: 15px;
    font-size: 25px;
    background-color:  var(--secondary-color);
    border: 0px;
    height: 32px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchIcon:focus{
    background-color:  var(--secondary-color-hover);
}

.identify{
    width: 15%;
    font-size: 90%;
    margin-top: 22px;
    color: var(--bg-color);
}

.identify:hover{
    color: var(--secondary-color);
    cursor: pointer;
}

.volver{
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.volver:hover{
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

footer{
    position: relative;
}

.mb-15{
    margin-bottom: 180px;
}

.productsLink{
    text-align: center;
    background-color: rgb(248, 248, 248);
    margin-top: 10px;
    width: 40%;
    color: black;
}

.footerLogo{
    background-color: var(--bg-dark);
    color: var(--secondary-color);
    width: 100%;
}

.credits{
    background-color: var(--bg-dark);
    color: var(--bg-color);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-top: 1px solid rgb(71, 71, 71);
}

.home{
    background-color: var(--bg-color-secondary);
    width: 100%;
}

.slider {
    padding-top: 4pc;
    margin-top: 90vh;
    display: flex;
    width: 80%;
    height: 90vh;
    position: absolute;
    z-index: 1;
}

.slider img{
    width: 100%;
    /* para que la imagen se adapte al div */
    object-fit: cover;
}

.slider button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 50px;
    height: 40vh;
}

.slider button:hover{
    color: var(--primary-color-hover);
}

.rightChervon{
    transform: translate(-4pc);
}

.leftChervon{
    transform: translate(4pc);
}

.productsHome{
    margin-top: 40vh;
    z-index: 4;
    position: relative;
    width: 75%;
    margin-left: 3%;
}

.productTable{
    width: 22%;
    background-color: var(--bg-color);
    margin: 1%;
    cursor: pointer;
}

.productsHome img {
    width: 90%;
    margin-left: 5%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 5%;
}

.productsHome h4 {
    margin-left: 5%;
    margin-right: 5%;
}

.oferts{
    width: 70.5%;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: var(--bg-color);
}

.oferts h2{
    margin-left: 30px;
}

.oferts img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.ofert{
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.fadeAnimation{
    animation-duration: .5s;
    animation-name: fade;
}

.fadeAnimation5{
    animation-duration: .5s;
    animation-name: fade5;
}

.blackTransparentBg{
    position: fixed;
    top: 0;
    background-color: black;
    opacity: .7;
    width: 100%;
    height: 100vh;
    z-index: 9;
}

.login{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.loginForm{
    background-color: var(--primary-color);
    color: var(--bg-color);
    margin-top: 30vh;
}

.loginForm input{
    border: 0px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.loginForm button{
    background-color: var(--secondary-color);
    border: 0px;
    padding: 5px;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

.loginForm button:active{
    background-color: var(--secondary-color-hover);
}


.loginIcon{
    font-size: 30px;
    margin-top: 17px;
    margin-right: 10px;
}

.quitLogin{
    position: fixed;
    right: 0;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.registerLink{
    text-decoration: none;
    color: var(--bg-color);
}

.registerLink:hover{
    color: var(--secondary-color);
}

.registerForm{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 20pc;
    padding: 20px;
    padding-top: 0px;
}

.registerForm h2{
    font-weight: 400;
}

.registerForm input{
    height: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(129, 129, 129);
}

.registerForm button{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-size: 15px;
    cursor: pointer;
}

.registerForm button:hover{
    background-color: var(--primary-color-hover);
}

.registerTitle{
    margin-left: 25%;
    margin-bottom: 10px;
    text-align: center;
}

.avisoRegister{
    font-size: 12px;
}

.registerVolver{
    font-size: 15px;
    text-decoration: none;
    color: var(--primary-color);
}

.error{
    color: rgb(189, 31, 31);
}

.username{
    text-align: right;
    width: 30%;
    font-size: 15px;
    color: white;
    margin-top: 25px;
}

.hover:hover{
    cursor: pointer;
    color: var(--secondary-color);
}

.userInfoIcon{
    font-size: 17px;
}

.infoHeader{
    margin-right: 15px;
}

.addWallet{
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.money{
    font-size: 40px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px rgb(204, 203, 203) solid;
    text-align: center;
}

.money:hover{
    box-shadow: 13px 19px 13px -13px rgba(0,0,0,0.1);
    background-color: rgb(236, 236, 236);
}

.showCart{
    margin-left: 10px;
    height: 30px;
    margin-top: 20px;
    border-radius: 4px;
}

.delete{
    color: var(--secondary-color);
    cursor: pointer;
}

.delete:hover{
    color: rgb(233, 73, 73);
}


.lateralPanel{
    width: 18%;
    padding: 2%;
    padding-bottom: 10pc;
    padding-top: 10px;
    border-right: 1px solid var(--bg-color-secondary);
    position: fixed;
}
  
.categorySelect{
    background-color: var(--bg-color-secondary);
    padding: 2px;
    border-radius: 10px;
    border: 0px;
}
  
.mt6 .inputPrice{
    margin-left: 10px;
    background-color: var(--bg-color-secondary);
    padding: 2px;
    border-radius: 10px;
    border: 0px;
    width: 40%;
}
  
.filterApply{
    background-color: var(--bg-color-secondary);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
    margin-bottom: 30px;
}
  
.saleButton{
    background-color: var(--bg-color-secondary);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
}
  
.productsResults{
    width: 77%;
    margin-top: 80px;
    margin-left: 23%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: wrap;
    margin-bottom: 16vh;
}
  
.productSearhed{
    border: solid var(--bg-color-secondary) 1px;
    border-radius: 10px;
    width: 24%;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
  
.productSearhed .image {
    width: 100%;
    height: 40vh;
    background-color: var(--bg-color-secondary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.productSearhed img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.starProductMenu{
    margin-left: 5px;
    margin-bottom: 1px;
    color: rgb(236, 187, 26);
}


.miniImagesDiv{
    width: 5%;
    margin-left: 1%;
  }
  
  .contentProduct{
    width: 88%;
    margin-left: 1%;
    display: flex;
  }
  
  .miniImage{
    border: 1px solid var(--bg-color-secondary);
    padding: 2px;
    width: 95%;
    height: 10vh;  
    object-fit: cover;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .miniImage img{
    width: 95%;
    height: 10vh;
    object-fit: cover;
  }
  
  .principImage{
    border: 1px solid var(--bg-color-secondary);
    width: 50%;
    height: 90vh;
    object-fit: cover;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 50px;
  }
  
  .principImage img{
    width: 100%;
    height: 90vh;
    object-fit: cover ;
  }
  
  .productData{
    width: 45%;
    padding-top: 0px;
    padding: 1%;
  }
  
  .productData p{
    margin-bottom: 0px;
  }
  
  .productPrice{
    font-size: 22px;
  }
  
  .stars{
    color: orange;
  }
  
  .productData h3{
    margin-bottom: 10px;
  }
  
  .lineDown{
    border-bottom: 1px solid var(--bg-color-secondary);
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .buy{
    background-color: var(--primary-color);
    color: white;
    width: 30%;
    margin-top: 50px;
    padding: 5px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .buy:active{
    background-color: var(--primary-color-hover);
  }
  
  .addValoration{
    background-color: rgb(158, 157, 157);
    color: white;
    width: 30%;
    margin-top: 0px;
    padding: 5px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .addValoration:active{
    background-color: grey;
  }
  
  .features{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-top: 10px;
  }

  .grey{
    color: grey;
  }

  .orange{
    color: orange;
  }

.productOneValorations{
    border-top: solid 1px var(--bg-color-secondary);
    margin-top: 50px;
    padding-left: 20px;
}

.productOneValorations h3{
    margin: 0px;
    margin-top: 20px;
}

.productOneValorations div h4{
    margin: 0px;
    margin-top: 20px;
}

.productOneValorations span{
    margin-bottom: 200px;
}

.lineDown .ml1{
    font: 15px sans-serif;
}

.valorationForm{
    margin-top: 50px;
    padding: 10px;
    border: 1px solid var(--bg-color-secondary);
}

.valorationText{
    margin-top: 10px;
    resize: none;
    height: 10vh;
}

.valorationStars{
    margin-left: 10px;
}

.sendValoration{
    background-color: var(--primary-color);
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 5px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .sendValoration:active{
    background-color: var(--primary-color-hover);
  }

  .cart{
    border: solid 1px var(--bg-color-secondary);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }

  .productoCart{
    width: 90%;
    margin-bottom: 50px;
  }

  .productoCart img{
    width: 80%;
    height: 25vh;
    object-fit: cover;
  }

  .borderTop{
    border-top: 1px solid var(--bg-color-secondary);
    padding-top: 10px;
  }

@keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes fade5 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: .7;
    }
}